<a href="https://colab.research.google.com/github/abdullahalashmmony/Titanic-data-processing/blob/main/Titanik_PySpark_work_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null



!wget -q https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz


!tar xf spark-3.0.1-bin-hadoop3.2.tgz


!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"

In [2]:
import findspark
findspark.init()
import pyspark
# You can create SparkContext from a Spark Session
from pyspark.sql import SparkSession

## Build Spark Session

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [5]:
df_train = spark.read.csv('train.csv', inferSchema=True, header=True)
df_test = spark.read.csv('test.csv', inferSchema=True, header=True)

Let's work with train dataset:

Confirm if this is a dataframe or not:

In [6]:
from pyspark.sql import DataFrame
if isinstance(df_train,DataFrame):
  print('is Data frame')
else:
  print("no")

is Data frame

**Show 5 rows.**

In [7]:
for line in df_train.head(5):
  print(line, '\n')

Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S')

Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C')

Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S')

Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S')

Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')

In [11]:
df_train.head(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

**Display schema for the dataset:**

In [8]:
print('train schema:')
print(df_train.printSchema())

print('-------------------------------------------')
print('test schema:')

print(df_test.printSchema())

train schema:
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

None
-------------------------------------------
test schema:
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

None

**Statistical summary:**

In [12]:
df_train.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    25%|              223|                  0|                 2|                null|  null|              20.0|                 0|                  0|           19996.0|           7.8958| null|    null|
|    50%|              446|                  0|                 3|                null|  null|              28.0|                 0|                  0|          236171.0|          14.4542| null|    null|
|    75%|              669|                  1|                 3|                null|  null|              38.0|                 1|                  0|          347743.0|             31.0| null|    null|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [13]:
print('train:',df_train.count())

train: 891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [14]:
from pyspark.sql.functions import col,desc

Survived = df_train.groupBy('Survived').count()

**Display your result:**

In [15]:
Survived.show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you display your answer in ratio form?(Hint: Use UDF.)**

In [16]:
from pyspark.sql.functions import udf

**Can you get the number of males and females?**

In [17]:
df_train.groupBy('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column.)

In [18]:
df_train.groupBy('Sex').avg('Survived').show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

**Create temporary view PySpark:**

In [19]:
df_train.createOrReplaceTempView('train')

**How many people survived, and how many didn't survive? By SQL:**

In [30]:
spark.sql("""SELECT Survived , count(Survived)
          FROM train 
          group by Survived """).show()

+--------+---------------+
|Survived|count(Survived)|
+--------+---------------+
|       1|            342|
|       0|            549|
+--------+---------------+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column.)

**Can you do this via SQL?**

In [32]:
spark.sql("""SELECT Sex, count(Survived)
          FROM train 
          WHERE Survived ==1
          group by Sex""").show()

+------+---------------+
|   Sex|count(Survived)|
+------+---------------+
|female|            233|
|  male|            109|
+------+---------------+

**Display a ratio for p-class:**

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [33]:
from functools import reduce  # For Python 3.x
from pyspark.sql import DataFrame
  
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)
  
df=unionAll(df_train,df_test)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

**Display count:**

In [34]:
df.count()

1329

**Temporary view PySpark:**

In [35]:
df.createOrReplaceTempView('data')

**Can you define the number of null values in each column?**

In [36]:
Dict_Null = {col:df.filter(df[col].isNull()).count() for col in df.columns}
Dict_Null

{'Age': 265,
 'Cabin': 1021,
 'Embarked': 3,
 'Fare': 0,
 'Name': 0,
 'Parch': 0,
 'PassengerId': 0,
 'Pclass': 0,
 'Sex': 0,
 'SibSp': 0,
 'Survived': 0,
 'Ticket': 0}

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [37]:
null_df = spark.createDataFrame([('Age', 265), ('Cabin', 1021), ('Embarked', 3)], ["column", "Number of missing values."])
null_df.show()

+--------+-------------------------+
|  column|Number of missing values.|
+--------+-------------------------+
|     Age|                      265|
|   Cabin|                     1021|
|Embarked|                        3|
+--------+-------------------------+

## Preprocessing

**Can you show me the name column from your temporary table?**

In [38]:
df.select('Name').show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

**Run this code:**

In [40]:
from pyspark.sql import functions as F
df = df.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
df.createOrReplaceTempView('combined')

**Display the title and count "Title" column:**

In [41]:
spark.sql("""SELECT Title, count(Title)
          FROM combined
          group by title""").show()

+--------+------------+
|   Title|count(Title)|
+--------+------------+
|     Don|           1|
|    Miss|         257|
|Countess|           2|
|     Col|           4|
|     Rev|           9|
|    Lady|           2|
|  Master|          56|
|     Mme|           1|
|    Capt|           2|
|      Mr|         786|
|      Dr|          11|
|     Mrs|         186|
|     Sir|           2|
|Jonkheer|           2|
|    Mlle|           4|
|   Major|           3|
|      Ms|           1|
+--------+------------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [42]:
titles_map={'Don':'rare',
            'Miss':'Miss',
            'Countess':'rare',
            'Col':'rare',
            'Rev':'rare',
            'Lady':'rare',
            'Master':'Master',
            'Mme':'rare',
            'Capt':'rare',
            'Mr':'Mr',
            'Dr':'rare',
            'Mrs':'Mrs',
            'Sir':'rare',
            'Jonkheer':'rare',
            'Mlle':'rare',
            'Major':'rare',
            'Ms':'rare'}

**Run the function:**

In [43]:
def impute_title(title):
    return titles_map[title]

**Apply the function on "Title" column using UDF:**

In [44]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *
titleUDF = udf(lambda z: impute_title(z))

new_df = df.withColumn("Title", titleUDF(F.col("Title")))
new_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**Display "Title" from table and group by "Title" column:**

In [45]:
dff=new_df.groupby('Title').count()
dff.show()

+------+-----+
| Title|count|
+------+-----+
|  rare|   44|
|  Miss|  257|
|Master|   56|
|    Mr|  786|
|   Mrs|  186|
+------+-----+

## **Preprocessing Age**

**Based on the age mean, you will fill in the missing age values:**

1.   List item
2.   List item

In [46]:
Average_Age = new_df.select(F.avg('age')).collect()[0][0]
Average_Age

30.079501879699244

**Fill missing age with age mean:**

In [47]:
new_df= new_df.na.fill({'Age':Average_Age})
new_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

## **Preprocessing Embarked**

**Select Embarked, count them, order by count Desc, and save in grouped_Embarked variable:**

In [51]:
grouped_Embarked=new_df.groupBy("Embarked").count().sort(desc("count"))

**Show groupped_Embarked:**

In [52]:
grouped_Embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get the groupped_Embarked:**

In [54]:
grouped_Embarked.show(1)

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
+--------+-----+
only showing top 1 row

**Fill missing values with grouped_Embarked:**

In [55]:
new_df= new_df.na.fill({'Embarked':'S'})
new_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [56]:
grouped_Embarked2=new_df.groupBy("Embarked").count().sort(desc("count"))
grouped_Embarked2.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  965|
|       C|  253|
|       Q|  111|
+--------+-----+

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [57]:
new_df = new_df.withColumn("Cabin", new_df.Cabin.substr(0, 1))

**Show the result:**

**Create the temporary view:**

In [58]:
new_df.createOrReplaceTempView('cabin')

**Select "Cabin" column, count Cabin column, Group by "Cabin" column, Order By count DESC**

In [59]:
grouped_Cabin=new_df.groupBy("Cabin").count().sort(desc("count"))
grouped_Cabin.show()

+-----+-----+
|Cabin|count|
+-----+-----+
| null| 1021|
|    C|   82|
|    B|   77|
|    D|   52|
|    E|   51|
|    A|   23|
|    F|   18|
|    G|    4|
|    T|    1|
+-----+-----+

**Fill missing values with "U":**

In [60]:
new_df= new_df.na.fill({'Cabin':'U'})
new_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [61]:
grouped_Cabin2=new_df.groupBy("Cabin").count().sort(desc("count"))
grouped_Cabin2.show()

+-----+-----+
|Cabin|count|
+-----+-----+
|    U| 1021|
|    C|   82|
|    B|   77|
|    D|   52|
|    E|   51|
|    A|   23|
|    F|   18|
|    G|    4|
|    T|    1|
+-----+-----+

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

**StringIndexer(inputCol=None, outputCol=None)**

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

____________________________________________

**Use Pipline to fit and transform:**

In [62]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(new_df) for column in ["Sex","Embarked","Title", "Cabin"]]

In [63]:
# Building the pipeline
pipeline = Pipeline(stages=indexers)
new_df = pipeline.fit(new_df).transform(new_df)

new_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+--------------+-----------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Sex_index|Embarked_index|Title_index|Cabin_index|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+--------------+-----------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25|    U|       S|    Mr|      0.0|           0.0|        0.0|        0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|      1.0|           1.0|        2.0|        1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925|    U|       S|  Miss|      1.0|           0.0|        1.0|        0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|      1.0|           0.0|        2.0|        1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05|    U|       S|    Mr|      0.0|           0.0|        0.0|        0.0|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583|    U|       Q|    Mr|      0.0|           2.0|        0.0|        0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|      0.0|           0.0|        0.0|        4.0|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075|    U|       S|Master|      0.0|           0.0|        3.0|        0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333|    U|       S|   Mrs|      1.0|           0.0|        2.0|        0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708|    U|       C|   Mrs|      1.0|           1.0|        2.0|        0.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|      1.0|           0.0|        1.0|        7.0|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|      1.0|           0.0|        1.0|        1.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05|    U|       S|    Mr|      0.0|           0.0|        0.0|        0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275|    U|       S|    Mr|      0.0|           0.0|        0.0|        0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542|    U|       S|  Miss|      1.0|           0.0|        1.0|        0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0|    U|       S|   Mrs|      1.0|           0.0|        2.0|        0.0|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125|    U|       Q|Master|      0.0|           2.0|        3.0|        0.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0|    U|       S|    Mr|      0.0|           0.0|        0.0|        0.0|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0|    U|       S|   Mrs|      1.0|           0.0|        2.0|        0.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225|    U|       C|   Mrs|      1.0|           1.0|        2.0|        0.0|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+--------------+-----------+-----------+
only showing top 20 rows

In [64]:
new_df = new_df.drop("PassengerId","Name","Ticket","Cabin","Embarked","Sex","Title")

In [65]:
new_df.show()

+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+
|Survived|Pclass|               Age|SibSp|Parch|   Fare|Sex_index|Embarked_index|Title_index|Cabin_index|
+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+
|       0|     3|              22.0|    1|    0|   7.25|      0.0|           0.0|        0.0|        0.0|
|       1|     1|              38.0|    1|    0|71.2833|      1.0|           1.0|        2.0|        1.0|
|       1|     3|              26.0|    0|    0|  7.925|      1.0|           0.0|        1.0|        0.0|
|       1|     1|              35.0|    1|    0|   53.1|      1.0|           0.0|        2.0|        1.0|
|       0|     3|              35.0|    0|    0|   8.05|      0.0|           0.0|        0.0|        0.0|
|       0|     3|30.079501879699244|    0|    0| 8.4583|      0.0|           2.0|        0.0|        0.0|
|       0|     1|              54.0|    0|    0|51.8625|      0.0|           0.0|        0.0|        4.0|
|       0|     3|               2.0|    3|    1| 21.075|      0.0|           0.0|        3.0|        0.0|
|       1|     3|              27.0|    0|    2|11.1333|      1.0|           0.0|        2.0|        0.0|
|       1|     2|              14.0|    1|    0|30.0708|      1.0|           1.0|        2.0|        0.0|
|       1|     3|               4.0|    1|    1|   16.7|      1.0|           0.0|        1.0|        7.0|
|       1|     1|              58.0|    0|    0|  26.55|      1.0|           0.0|        1.0|        1.0|
|       0|     3|              20.0|    0|    0|   8.05|      0.0|           0.0|        0.0|        0.0|
|       0|     3|              39.0|    1|    5| 31.275|      0.0|           0.0|        0.0|        0.0|
|       0|     3|              14.0|    0|    0| 7.8542|      1.0|           0.0|        1.0|        0.0|
|       1|     2|              55.0|    0|    0|   16.0|      1.0|           0.0|        2.0|        0.0|
|       0|     3|               2.0|    4|    1| 29.125|      0.0|           2.0|        3.0|        0.0|
|       1|     2|30.079501879699244|    0|    0|   13.0|      0.0|           0.0|        0.0|        0.0|
|       0|     3|              31.0|    1|    0|   18.0|      1.0|           0.0|        2.0|        0.0|
|       1|     3|30.079501879699244|    0|    0|  7.225|      1.0|           1.0|        2.0|        0.0|
+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+
only showing top 20 rows

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None) A feature transformer that merges multiple columns into a vector column.**

In [68]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

feature = VectorAssembler(inputCols=new_df.columns[1:],outputCol="features")
feature_vector= feature.transform(new_df)
feature_vector.show()

+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+--------------------+
|Survived|Pclass|               Age|SibSp|Parch|   Fare|Sex_index|Embarked_index|Title_index|Cabin_index|            features|
+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+--------------------+
|       0|     3|              22.0|    1|    0|   7.25|      0.0|           0.0|        0.0|        0.0|(9,[0,1,2,4],[3.0...|
|       1|     1|              38.0|    1|    0|71.2833|      1.0|           1.0|        2.0|        1.0|[1.0,38.0,1.0,0.0...|
|       1|     3|              26.0|    0|    0|  7.925|      1.0|           0.0|        1.0|        0.0|[3.0,26.0,0.0,0.0...|
|       1|     1|              35.0|    1|    0|   53.1|      1.0|           0.0|        2.0|        1.0|[1.0,35.0,1.0,0.0...|
|       0|     3|              35.0|    0|    0|   8.05|      0.0|           0.0|        0.0|        0.0|(9,[0,1,4],[3.0,3...|
|       0|     3|30.079501879699244|    0|    0| 8.4583|      0.0|           2.0|        0.0|        0.0|(9,[0,1,4,6],[3.0...|
|       0|     1|              54.0|    0|    0|51.8625|      0.0|           0.0|        0.0|        4.0|(9,[0,1,4,8],[1.0...|
|       0|     3|               2.0|    3|    1| 21.075|      0.0|           0.0|        3.0|        0.0|[3.0,2.0,3.0,1.0,...|
|       1|     3|              27.0|    0|    2|11.1333|      1.0|           0.0|        2.0|        0.0|[3.0,27.0,0.0,2.0...|
|       1|     2|              14.0|    1|    0|30.0708|      1.0|           1.0|        2.0|        0.0|[2.0,14.0,1.0,0.0...|
|       1|     3|               4.0|    1|    1|   16.7|      1.0|           0.0|        1.0|        7.0|[3.0,4.0,1.0,1.0,...|
|       1|     1|              58.0|    0|    0|  26.55|      1.0|           0.0|        1.0|        1.0|[1.0,58.0,0.0,0.0...|
|       0|     3|              20.0|    0|    0|   8.05|      0.0|           0.0|        0.0|        0.0|(9,[0,1,4],[3.0,2...|
|       0|     3|              39.0|    1|    5| 31.275|      0.0|           0.0|        0.0|        0.0|[3.0,39.0,1.0,5.0...|
|       0|     3|              14.0|    0|    0| 7.8542|      1.0|           0.0|        1.0|        0.0|[3.0,14.0,0.0,0.0...|
|       1|     2|              55.0|    0|    0|   16.0|      1.0|           0.0|        2.0|        0.0|[2.0,55.0,0.0,0.0...|
|       0|     3|               2.0|    4|    1| 29.125|      0.0|           2.0|        3.0|        0.0|[3.0,2.0,4.0,1.0,...|
|       1|     2|30.079501879699244|    0|    0|   13.0|      0.0|           0.0|        0.0|        0.0|(9,[0,1,4],[2.0,3...|
|       0|     3|              31.0|    1|    0|   18.0|      1.0|           0.0|        2.0|        0.0|[3.0,31.0,1.0,0.0...|
|       1|     3|30.079501879699244|    0|    0|  7.225|      1.0|           1.0|        2.0|        0.0|[3.0,30.079501879...|
+--------+------+------------------+-----+-----+-------+---------+--------------+-----------+-----------+--------------------+
only showing top 20 rows

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [69]:
X_train, X_test = feature_vector.randomSplit([.8,.2],seed=42)

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [70]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(labelCol="Survived", featuresCol="features")
rf_model = rf.fit(X_train)
rf_prediction = rf_model.transform(X_test)
rf_prediction.select("prediction", "Survived", "features").show()

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       1.0|       0|[1.0,19.0,1.0,0.0...|
|       1.0|       0|[1.0,24.0,0.0,0.0...|
|       1.0|       0|[1.0,25.0,1.0,2.0...|
|       0.0|       0|[1.0,29.0,1.0,0.0...|
|       0.0|       0|(9,[0,1,4,8],[1.0...|
|       0.0|       0|(9,[0,1,4],[1.0,3...|
|       0.0|       0|(9,[0,1,4,8],[1.0...|
|       0.0|       0|[1.0,36.0,1.0,0.0...|
|       1.0|       0|[1.0,45.0,0.0,0.0...|
|       0.0|       0|(9,[0,1,4,8],[1.0...|
|       0.0|       0|[1.0,45.0,1.0,0.0...|
|       0.0|       0|[1.0,46.0,0.0,0.0...|
|       0.0|       0|(9,[0,1,4,8],[1.0...|
|       0.0|       0|[1.0,49.0,1.0,1.0...|
|       0.0|       0|[1.0,54.0,0.0,1.0...|
|       0.0|       0|(9,[0,1,4,8],[1.0...|
|       0.0|       0|[1.0,70.0,1.0,1.0...|
|       1.0|       0|[2.0,24.0,0.0,0.0...|
|       1.0|       0|[2.0,27.0,1.0,0.0...|
|       0.0|       0|[2.0,28.0,0.0,1.0...|
+----------+--------+--------------------+
only showing top 20 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [72]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")
rf_accuracy = evaluator.evaluate(rf_prediction)
print("Accuracy of RandomForestClassifier is = %g"% (rf_accuracy))
print("Test Error of RandomForestClassifier  = %g " % (1.0 - rf_accuracy))

Accuracy of RandomForestClassifier is = 0.829787
Test Error of RandomForestClassifier  = 0.170213

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**